:root{
    --yellow-text:color(yellow)
}
.model{
    width: 65%;
    height: 400px;
    margin-top: 90px;
    margin-left: 19%;
    background-color: #ececec;
    border: 0px solid;
    border-radius: 40px;
    box-shadow: 0px 3px 65px #181717;
    
}
.model img:nth-child(1){
    width: 100px;
    margin-left: 10px;
}
.model .main-bg img{
    width: 380px;
    margin-left: 83px;
    margin-top: -40px;
}
.model  h3{
    color: rgb(0, 0, 0);
    font-weight:  bold;
    /* position: relative;
    bottom: 15rem;
    left: 30rem; */
    margin-top: -15rem;
    margin-left: 30rem;

}
.opTodo{
    position: relative;
    top: 25px;
    left: 33rem;
    font-size: 30px;
    border: 0px solid;
    border-radius: 50px;
    font-weight: bold;
    background-color: #0080ff;
    color: #fff;
    width: 220px;
    height: 70px;
    box-shadow: 0px 3px 65px #181717 inset;
    transition: all .2s ease-in-out;
}
.opTodo:hover{
    background-color: #01a50f;  
    transform: scale(1.1); 
   
}
/* .animetest img{
    position: relative;
    bottom: 0px;
    animation-name: firstanime;
    animation-duration: 5s;
}
@keyframes firstanime {
    0%{
      bottom: 0px;  
      left: 0px;

    }
    25%{
        bottom: 480px;
        left: 0px;
   
    }
    50%{
        left: 200px;
        bottom: 480px;
        
    }
    75%{
        top: 480px ;
        left: 200px;
    }
    100%{
        bottom: 0px;
        left: 0px;
        
    }
} */
#todotext{
    color: rgb(255, 251, 7);
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#dateText{
    color: rgba(255, 255, 255, 0.945);
    font-weight: bold;
    margin-bottom: 0px;
    
}
#todobtn , #signoutbtn ,#homebtn{
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
   width: 100px;
   
  /* height: 43px; */
  background-color: rgba(7, 88, 218, 0.979);
  box-shadow: 0px 5px 35px #181717 inset;
  text-align: center;
  color: #fff;
  

}
#todobtn{
    margin-left: 20px;
}
#signoutbtn{
    margin-left: 20px;
}
#homebtn{
    margin-left: 20px;
    /* text-decoration: underline; */

}
#todobtn:hover{
    background-color: rgb(94, 255, 220);
    color: #000;
    font-size: 21px;
}
#signoutbtn:hover{
    background-color: rgb(94, 255, 220);
    color: #000;
    font-size: 21px;
}
#homebtn:hover{
    background-color: rgb(8, 119, 223);
}
.headline{
    border-radius: 50px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0); 
    font-size: 25px;
}
#cap{
    border-radius: 50px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0); 
    font-size: 25px;  
    color: #fffb00;
}

/* media query for mobile screen */
/* max-width: 600px */
@media only screen and (max-width: 800px){  
    .model{
        width: 95%;
        height: 400px;
        margin-top: 40px;
        margin-left: 3%;
        background-color: #ececec;
        border: 0px solid;
        border-radius: 20px;
        box-shadow: 0px 3px 65px #181717;
        
    }
    .model img:nth-child(1){
        
        width: 70px;
        margin-left: 2px;
    }
    .model .main-bg img{
        width: 300px;
        margin-left: 35px;
        margin-top: -30px;
    }
    .model  h3{
        color: rgb(0, 0, 0);
        font-weight:  bold;
        /* position: relative;
        bottom: 15rem;
        left: 30rem; */
        margin-top: 1rem;
        margin-left: 40px;
    
    }
    .opTodo{
        position: relative;
        top: 2px;
        left: 5rem;
        font-size: 30px;
        border: 0px solid;
        border-radius: 50px;
        font-weight: bold;
        background-color: #0080ff;
        color: #fff;
        width: 200px;
        height: 70px;
        box-shadow: 0px 3px 65px #181717 inset;
        transition: all .2s ease-in-out;
    }
    .opTodo:hover{
        background-color: #01a50f;  
        transform: scale(1.1); 
       
    }
  /* .nav-item {
      /* padding: px; */
      
  /* } */ 

  
  #dateText{
    color: rgba(255, 255, 255, 0.945);
    font-weight: bold;
    margin-bottom: 0px;
    margin-left:100px;
    text-align: center;
    width: 200px;
    border:5px solid red ;
    border-radius: 20px;
    background-color: #000000;
    text-shadow: 2px 2px 10px #000000;
    
}
#todobtn , #signoutbtn ,#homebtn{
  border: 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  position: relative;
  margin-top: 10px;
   width: 360px;
   
  /* height: 43px; */
  background-color: rgba(7, 88, 218, 0.979);
  box-shadow: 10px -15px 35px #181717 inset;
  text-align: center;
  color: #fff;
  

}
#todobtn{
    margin-left: 15px;
}
#signoutbtn{
    margin-left: 15px;
}
#homebtn{
    margin-left: 15px;
    

}
#todobtn:hover{
    background-color: rgb(94, 255, 220);
    color: #000;
    font-size: 21px;
}
#signoutbtn:hover{
    background-color: rgb(94, 255, 220);
    color: #000;
    font-size: 21px;
}
#homebtn:hover{
    background-color: rgb(8, 119, 223);
}
.headline{
    border-radius: 50px;
    text-shadow: 2px 2px 3px rgb(0, 0, 0); 
    font-size: 25px;
}




}
